/* Add CSS styling here */

html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0; 
font-size: 62.5%;  
font: inherit;  
vertical-align: baseline;  
}



body{
    font-size: 1.2rem;
    font-family: 'Playfair Display', serif;
    background-image:-webkit-linear-gradient(white,#F5F5F5,grey,black);
}



img{
    height: 35vh;
    width: 95%;
}
section .header-content{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
}
.nav-bar{
    display: flex;
    width: 90%;
    justify-content: space-between;  
    align-items: center;
    margin: 0 auto;
}


.title {
    display: flex;
    width: 25%;
    font-size: 4rem;
    justify-content: center;
    align-self: center;
}

.navigation{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2%;
}
.navigation a{
    width: 30%;
    color: black;
    font-size: 1.7rem;
    text-decoration: none; 
}
.navigation a:hover{
    color: white;
    background-color:#7B7D7D;
}


button {
    text-decoration: none;
    font-size: 1.4rem;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 30%;
    height: 7vh;
    padding: 1%;
}

button:hover{
    color: white;
    background-color: black;
}



.hero-wrap{
    margin: 2% auto; 
    width: 92%;
}


.hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url("https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80") ;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 60%;
    height: 30vh;
} 
div .text-wrap{
    font-size: 1.6rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle-content{
    width: 50%;
    margin: 2% auto;
    padding: 3%;
    font-style: italic;
    background-color: #7B7D7D;
    color: WHITE;
    font-weight: lighter;
    border-radius: 10px;
}

 h2{
    font-size: larger;
    font-weight: bolder;
}

#greeting{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#greeting h1{
    font-size: 4rem;

}

.gallery {
    display: flex;
    flex-direction: column;
    
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 2%;
    
}

.row-30{
    display: flex;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    width: 30%;  
    margin: 2%;
}
.row-30 h3{
    font-weight: bolder;
    font-size: larger;
    margin: 2%;
    text-decoration: none;
}
.row-30 h3 a{
    text-decoration: none;
    color:white;
}
.row-wrap h3 a:hover{
    font-size: larger;
    font-weight: bolder;
    color: #1A5276; 
}


.row-30 div{
    box-shadow: 3px 3px 7px 2px #F7F9F9 ;
}
.row-wrap{
    display: flex;
    flex-direction: column;
    padding: 3%;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
}

footer div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 2%;
    margin: 2%;
}

div .footer-bar{
    display: flex;
    align-items: center;
    
}

nav {
    width: 20%;
    margin-top: 2%;
    margin-bottom: 1%;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
#contact a{
    text-decoration: none;
    border: 1px solid black;
    font-size: 1.6rem;
    padding: 2% 4%;
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
}
#contact a:hover{
    color: white;
    background-color: black;
}
@media(max-width: 500px) {
   body {
      background:white;
    }
    .row-30{
        display: flex;
        align-content: space-around;
        justify-content: center;
        align-items: center;
        width: 50%;  
        margin: 2%;
    }
    section .header-content{
        display: flex;
        flex-direction: column;
    }
     .nav-bar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
    }

    .navigation{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 7%;
    }

    .navigation a{
        width: 60%;
        font-family: 'Open Sans Condensed', sans-serif;
        color: black;
        padding: 2%;
    }

    .hero-image{
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-text {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        width: 90%;   
    }

    div .text-wrap{
        font-size: 1.4rem; 
        display: flex;     
    }

    div #greeting{
        width: 80%;      
    }

    #greeting h1{
        width: 105%;
        font-size: 3rem;
        margin: 0 auto;
    }
    .middle-content{
        width: 80%;
        padding: 2%;
        margin: 5% auto;
        font-family: 'Open Sans Condensed', sans-serif;
    }
    .gallery{
        display: flex;
        flex-direction: column;
    }
              
    .row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: 2%; 
        width: 100%; 
    }

    .row-30{
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: center;
        align-items: center;  
        width: 45%;        
    }

    .row-30 h3{
        font-weight: bolder;
        font-size: larger;
        margin: 2%;
        text-decoration: none;
    }
    .row-30 h3 a{
        text-decoration: none;
        color: black;
    }
    .row-30 p{
        color: black;
    }
    .row-wrap h3 a:hover{
        font-size: larger;
        font-weight: bolder;
        color: #1A5276; 
    }
    footer div{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2%;
        margin: 2%;
        border: 1px solid black;
    }
    
    div .footer-bar{
        display: flex;
        align-items: center;
    
    }

    nav{
    width: 41%;
    margin-top: 4%;
    margin-bottom: 1%;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
    .footer-bar a{
        background-color: #F5F5F5;
    }
}